<%= form_for @cart.customer || Customer.new, url: customers_path do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :email,'Email' %>
      <div class="col-md-4">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address,'Address' %>
      <div class="col-md-4">
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name,'Name' %>
      <div class="col-md-4">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :card_number,'Card Number' %>
      <div class="col-md-4">
        <%= f.text_field :card_number, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :card_cvv,'CVV' %>
      <div class="col-md-4">
        <%= f.text_field :card_cvv, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :card_month,'Expiry Month' %>
      <div class="col-md-4">
        <%= f.select(:card_month, options_for_select(1..12)) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :card_year,'Expiry Year' %>
      <div class="col-md-4">
        <%= f.select(:card_year, options_for_select(2016..2030)) %>
      </div>
    </div>

    <div class="form-actions">
      <% if @cart.customer %>
        <%= f.submit 'Already Submitted', class: 'btn btn-primary', disabled: true %>
      <% else %>
        <%= f.submit 'Submit Order', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>  
<% end %>