<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h3>Items</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= number_to_currency(item.price, :unit => "£") %></td>
            <%= form_for CartItem.new, url: cart_items_path do |f| %>
              <td>
                  <%= f.hidden_field :item_id, value: item.id %>
                  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, style: "width: 70px;" %>
              </td>
              <td>
                <%= f.submit "Add To Cart", class: "btn btn-info" %>
              </td>
            <% end %>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h3>Code Promotions</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @promotions.each do |promotion| %>
          <tr>
            <td><%= promotion.name %></td>
            <%= form_for @cart, url: add_promotion_cart_path(promotion.id), method: :post do |f| %>
              <td>
                <%= f.submit "Add To Cart", class: "btn btn-info" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">  
  <div class="col-md-12">
    <h3>Cart</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Quantity Discount</th>
          <th>Price</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= number_to_currency(cart_item.item_price, :unit => "£") %> X </td>
            <%= form_for cart_item, url: cart_item_path(cart_item) do |f| %>
              <td>
                <%= f.hidden_field :item_id, value: cart_item.item_id %>
                <%= f.number_field :quantity, value: cart_item.quantity, class: "form-control", min: 1, style: "width: 70px;" %>
              </td>
              <td>
                - <%= number_to_currency(cart_item.item_discount, :unit => "£") %>
                <% unless cart_item.discounted? %>
                  <span class="label label-success">
                    <%= "(#{cart_item.item.quantity_promotion.try(:name)})" %>
                  </span>
                <% end %>  
              </td>
              <td>= <%= number_to_currency(cart_item.total_price, :unit => "£") %></td>            

              <td>
                <%= f.submit "Update", class: "btn btn-info" %>
              </td>
            <% end %>
            <td>
              <%= link_to "x", cart_item, method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %> 
            </td>  
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right">
      <table class="table table-stripered">
        <tbody>
          <% @cart.code_promotions.each do |promotion| %>
            <tr>
              <td><%= promotion.name %></td>
              <td>
                <%= link_to "x", destroy_promotion_cart_path(promotion.id), method: :delete, confirm: "Are you sure?", class: 'btn btn-danger' %> 
              </td> 
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table table-stripered">
        <thead>
          <td>Sub Total</td>
          <td>Discount(Only Code Promotions)</td>
          <td>Total Price</td>
        </thead>
        <tbody>
          <tr>
            <td><%= number_to_currency(@cart.sub_total, :unit => "£") %></td>
            <td><%= number_to_currency(@cart.discount, :unit => "£") %></td>
            <td><%= number_to_currency(@cart.total_price, :unit => "£") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>